@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to PizzeriaApp!</p>
    <p><a href="/Account/Register">Register</a> | <a href="/Account/Login">Login</a></p>
</div>

